.label_login{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

#login h1 {
    text-align: center;
}

#login{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.btn_login{
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}
