<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <title>Base</title>

    <link rel="stylesheet" href="">

</head>
<body>
    <header>
        <nav id="navbar">

            <i class="fa-solid fa-solar-panel">BUGIG<br>SOLAR <i class="fa-solid fa-bolt-lightning"></i></i>

         <div id="itens_nav">
            <a href="/about" class="btn-default">Sobre nós</a>
            <a href="{{ url_for('auth.login') }}" class="btn-default">Login</a>
            <a href="/signin" class="btn-default">Cadastrar-se</a>

        </div>

             
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav_item">
                    <a href="#home">Início</a>
                </li>
                <li class="nav_item">
                    <a href="#comprar"> Comprar</a>
                </li>
                <li class="nav_item">
                    <a href="#vender">Vender</a>
                </li>
                
            </ul>
    
            <a href="{{ url_for('auth.login') }}" class="btn-default">Login</a>
    
        </div>
    </header>

        {% block content %}

        {% endblock %}

    <footer>      
        <div id="itens-footer">
            <div class="footer-content">
                <p>&copy; 2025 BugigSolar. Todos os direitos reservados.</p>
                <p><a href="#">Termos de Uso</a> | <a href="#">Política de Privacidade</a></p>
            </div>
                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
             </div>
        </div>
    </footer>  
</body>
</html>
