{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/benef.css') }}">


<div id="benef-container">
  <h1>Envie Suas Contas de Energia</h1>
  <p>Faça upload das suas últimas faturas para calcularmos o melhor benefício para você.</p>

  <form method="POST" enctype="multipart/form-data" action="{{ url_for('auth.signin_benef', user_id=session['new_user_id']) }}">
      {{ form_benef.hidden_tag() }}

      <div id="upload-section">
          <div class="mb-3">
              {{ form_benef.conta1.label }}<br>
              {{ form_benef.conta1(class="form-control") }}
          </div>

          <div class="mb-3">
              {{ form_benef.conta2.label }}<br>
              {{ form_benef.conta2(class="form-control") }}
          </div>

          <div class="mb-3">
              {{ form_benef.conta3.label }}<br>
              {{ form_benef.conta3(class="form-control") }}
          </div>
      </div>

      <div class="mb-2">
          {{ form_benef.classe_consumo.label(class='form-label') }}
          {{ form_benef.classe_consumo(class='form-select') }}
          {% for error in form_benef.classe_consumo.errors %}
              <span class="text-danger">{{ error }}</span>
          {% endfor %}
      </div>

      <div class="btn_container mt-3">
          {{ form_benef.cadastrar(class='btn btn-primary', id='saveBenef') }}
      </div>
  </form>
</div>
{% endblock %}
