{% extends "base.html" %}


{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/errors.css') }}">
{% endblock %}


{% block content %}
<main>
    <div class="error-page">
        <div class="error-header">
            <div class="mascote-container">
                <div class="mascote">
                    <img src="{{ url_for('static', filename='Imagens/robo-quebrado.png') }}" alt="Robô com erro">
                </div>
            </div>
            
            <div class="error-code-container">
                <div class="code-with-icon">
                    <div class="error-icon">
                        <i class="fas fa-bolt"></i>
                    </div>
                    <h1>{{ code }}</h1>
                </div>
            </div>
        </div>
        
        <p>{{ message }}</p>
        
        <a href="{{ url_for('public.landing_page') }}" class="btn-default">
            <i class="fas fa-home"></i>
            Voltar para a Página Inicial
        </a>
    </div>
</main>

<script src="{{ url_for('static', filename='js/errors.js') }}"></script>
{% endblock %}