<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    
    <h1>{{ titulo }}</h1>
    <form method="post" action="/login">
        {{ form.csrf_token() }}
    
    <div class="mb-2">
        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control') }}
    </div>
    <div class="mb-2">
        {{ form.senha.label(class='form-label') }}
        {{ form.senha(class='form-control') }}
    </div> 

    <button type="button">Fazer Login</button>
        <button type="button">Cadastrar-se</button>
</body>
</html>